.body {
    display: flex;
    flex-direction: row;
}

.main-container {
    background-color: #fff8f3;
    width: 80%;
    margin: auto;
}

.sidebar {
    position: fixed;
    top: 10%;
    left: 0;
}

.sidebar_icon {
    background-color: #333;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.7rem;
}

.sidebar_icon:hover {
    background-color: #555;
}

.sidebar_items {
    background-color: #333;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar_item:hover {
    background-color: #555;
}

.sidebar_item i {
    font-size: 1.3rem;
    margin-right: 10px;
}

.sidebar_item p {
    font-size: 1rem;
}